rgb(255, 255, 255)
rgba(255, 255, 255, 0.6) #77dd77 #3772ff
#242423 #212529 #474448
#18435a #184e77 #335c67 #05668d #588b8b
#a90533 #fff #9bc4cb #e5be00 #122140 #fafafb #fedd00
rgba(169, 5, 51, 1) rgba(253, 244, 244, 1)
#ffffff            --> rgba(255, 255, 255, 0.87)
rgb(152, 166, 173) --> rgba(255, 255, 255, 0.87)
rgb(68, 71, 90)    --> mix(#1f222a, white, 98%)
rgb(40, 42, 54)    --> #1f222a
rgb(139, 233, 253) --> #1f222a -- dark mode inline code text
$spc-primary:            #122140; // primary color
$spc-primary-light:      #3d486b; // primary color, lighter variant
$spc-primary-dark:       #00001b; // primary color, darker variant
$spc-secondary:          #fff3b0; // secondary color
$spc-secondary-light:    #fff14d; // secondary color, lighter variant
$spc-secondary-dark:     #ae8f00; // secondary color, darker variant

$spc-text-high:          rgba(255, 255, 255, 0.87); // high emphasis/high priority, white 87% opacity
$spc-text-medium:        rgba(255, 255, 255, 0.60); // medium emphasis, white 60% opacity
$spc-text-low:           rgba(255, 255, 255, 0.45); // disabled text, white 45% opacity
//$spc-text-low:         rgba(255, 255, 255, 0.38); // disabled text, white 38% opacity
$spc-bkg-light-std: #F8F8F8;
//$spc-bkg-light-std: #EEEEEE;                 // light mode background
$spc-bkg-dark-std: #121212;                    // dark mode background (00dp elevation level)
// COLOR CALCULATIONS
// below from mix($spc-primary, $spc-bkg-dark-std, 25)
$spc-bkg-dark: #12151d;                                 // custom bkg
// below from mix($spc-primary, $spc-bkg-dark-std, 40)
$spc-00dp: #121824;                                     // 00dp surface
// below from mix($spc-00dp, white, 95)                 // 00dp with 5% white overlay
$spc-01dp: #1d232e;
// below from mix($spc-00dp, white, 93)                 // 00dp with 7% white overlay
$spc-02dp: #222833;
// below from mix($spc-00dp, white, 92)                 // 00dp with 8% white overlay
$spc-03dp: #242a35;
// below from mix($spc-00dp, white, 91)                 // 00dp with 9% white overlay
$spc-04dp: #272c37;







/*************************************************
 *  Dark themed components
 **************************************************/
.dark .article-title a {
  color: #fff; }

.dark .pagination li > a,
.pagination li > span {
  background-color: #282a36;
  border: 1px solid #ddd; }

body.dark,
.dark .docs-toc-link,
.dark .modal button.close,
.dark input {
  color: #f8f8f2;
  background: #23252f; }

.dark .form-control {
  color: #f8f8f2;
  background-color: #44475a; }
  .dark .form-control::placeholder {
    color: #fff;
    opacity: 1; }
  .dark .form-control:focus {
    background-color: #44475a;
    border-color: #1565c0;
    box-shadow: 0 0 0 0.2rem #104d92; }

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #fff; }

.dark pre,
.dark code {
  color: #8be9fd;
  background-color: #44475a; }

.dark pre {
  /* Match `pre` bg color above. */
  border-color: #44475a; }

.dark mark,
.dark .mark {
  background: rgba(233, 231, 245, 0.2); }

.dark #MathJax_Zoom {
  background-color: #44475a !important; }

.dark table table {
  background-color: #282a36; }

/* Table Striped */
.dark table > tbody > tr:nth-child(odd) > td,
.dark table > tbody > tr:nth-child(odd) > th {
  background-color: #323440; }

/* Table Hover */
.dark table > tbody > tr:hover > td,
.dark table > tbody > tr:hover > th {
  background-color: #3c3e4a; }

.dark .portrait-title h2 {
  color: #fff; }

.dark .portrait-title h3 {
  color: rgba(255, 255, 255, 0.54); }

.dark ul.ul-edu li .description p.institution {
  color: rgba(255, 255, 255, 0.6); }

.dark .pub-icon {
  color: rgba(255, 255, 255, 0.54); }

.dark .talk-metadata {
  color: rgba(255, 255, 255, 0.54); }

.dark .card {
  background: #343a40; }

.dark .card .section-subheading a {
  color: #1565c0;
  border-bottom: solid 1px transparent; }

.dark .card .card-image.hover-overlay::before {
  background: #666; }

.dark .card .card-image.hover-overlay::after {
  color: #fff; }

.dark select {
  background: #282a36;
  color: #f8f8f2; }

.dark .badge-light {
  color: rgba(255, 255, 255, 0.68);
  background: rgba(255, 255, 255, 0.2); }

.dark .badge-light[href]:focus,
.dark .badge-light[href]:hover {
  background: rgba(255, 255, 255, 0.3); }

.dark a.badge:focus,
.dark a.badge:hover {
  color: rgba(255, 255, 255, 0.68); }

.dark .btn-primary,
.dark .btn.btn-primary.active {
  color: initial; }

.dark .docs-sidebar .nav > li:not(.active) > a {
  color: #f8f8f2;
  background: #23252f; }
